@charset "UTF-8";
:root {
  font-size: 62.5%;
  --font: 'Pretendard', sans-serif;
  --primary-color:#4473FC;
  --primary-contrast-text-color: #fff;
  --background-color: #F1F6FD;
  --box-color: #fff;
  --text-color: #1F3561;
  --text-light-color: #565F71;
  --border-color: #ddd;
  --border-light-color: #eee;
  --error-color: #C14351;
  --warning-color: #8F9051;
  --info-color: #5875A3;
  --success-color: #5D8C54;
  --tooltip-text-color: #fff;
  --tooltip-background-color: #4473FC;
  --speed: .2s;
  --logo-size: 16.5rem;
  --symbol-size: 2.4rem;
  --snb-size: 28rem;
  --snb-min-size: 6rem;
  --header-size: 7.2rem;
  --icon-size: 2.4rem;
  --common-gap: 2.4rem;
  --common-col-gap: .8rem;
  --box-shadow-color: #4473FC15;
  --box-shadow-hover-color: #4473FC30;
  --box-shadow: 0 0 10px var(--box-shadow-color);
  --box-shadow-hover: 0 0 10px var(--box-shadow-hover-color);
  --filter-primary-color: invert(54%) sepia(84%) saturate(5197%) hue-rotate(214deg) brightness(101%) contrast(106%);
  --filter-error-color: invert(48%) sepia(100%) saturate(3855%) hue-rotate(339deg) brightness(95%) contrast(91%);
  --filter-warning-color: invert(72%) sepia(75%) saturate(486%) hue-rotate(1deg) brightness(92%) contrast(107%);
  --filter-info-color: invert(39%) sepia(90%) saturate(740%) hue-rotate(198deg) brightness(101%) contrast(102%);
  --filter-success-color: invert(63%) sepia(85%) saturate(394%) hue-rotate(91deg) brightness(89%) contrast(88%);
  --sb-track: #ddd;
  --sb-thumb: #aaa;
  --sb-thumb-hover: #777;
  --sb-thumb-active: #666;
}

/* 다크모드 */
/*
https://jakearchibald.github.io/svgomg
https://yoksel.github.io/url-encoder
https://codepen.io/sosuke/pen/Pjoqqp
*/
html {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--text-color);
  scroll-behavior: smooth;
}

html.no-touch {
  pointer-events: none;
}

html.overflow-hidden {
  overflow: hidden;
}

body {
  background-color: var(--background-color);
  /* snb-min-mode */
  /* snb-min-mode end */
}

body.snb-min-mode header {
  padding-left: var(--snb-min-size);
}

body.snb-min-mode .snb {
  width: var(--snb-min-size);
}

body.snb-min-mode .snb .head {
  padding-left: 0;
  padding-right: 0;
  height: 13.2rem;
  padding-bottom: .8rem;
}

body.snb-min-mode .snb .head .logo {
  width: var(--symbol-size);
  margin: 0 auto;
}

body.snb-min-mode .snb .head .logo img {
  display: none;
}

body.snb-min-mode .snb .head .logo img.symbol {
  display: block;
}

body.snb-min-mode .snb .head .user-card {
  width: 4.4rem;
  height: 4.4rem;
  background-color: var(--box-color);
  margin: 2.4rem auto 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  cursor: pointer;
}

body.snb-min-mode .snb .head .user-card .user-profile-img {
  width: 3.6rem;
}

body.snb-min-mode .snb .head .user-card .info > div {
  display: none;
}

body.snb-min-mode .snb .head .user-card .info > div.dropdown {
  width: 0;
  display: block;
}

body.snb-min-mode .snb .head .user-card .info > div.dropdown .dropdown-button {
  display: none;
}

body.snb-min-mode .snb .head .user-card .dropdown .dropdown-content {
  left: 2.8rem;
  top: -2.4rem;
}

body.snb-min-mode .snb .body {
  padding: 0;
  height: calc(100% - 12.8rem);
}

body.snb-min-mode .snb .body .snb-list li a span {
  display: none;
}

body.snb-min-mode .snb .body .snb-list > li > a {
  width: 4.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  z-index: 10;
}

body.snb-min-mode .snb .body .snb-list > li > a::after {
  display: none;
}

body.snb-min-mode .snb .body .snb-list > li > a:hover ~ ul {
  opacity: 1;
  pointer-events: auto;
}

body.snb-min-mode .snb .body .snb-list > li > ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 24rem;
  position: fixed;
  top: auto;
  left: 6rem;
  -webkit-transform: translateY(-4.4rem);
          transform: translateY(-4.4rem);
  margin-left: 1.2rem;
  background-color: var(--box-color);
  padding: var(--common-col-gap) var(--common-gap);
  border-radius: 4px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  display: block !important;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity var(--speed);
  transition: opacity var(--speed);
}

body.snb-min-mode .snb .body .snb-list > li > ul:hover {
  opacity: 1;
  pointer-events: auto;
}

body.snb-min-mode .snb .body .snb-list > li > ul::before {
  content: "";
  display: block;
  width: 7.2rem;
  height: 4.4rem;
  position: absolute;
  top: 0;
  left: -7.2rem;
  z-index: 10;
  opacity: 0;
}

body.snb-min-mode main {
  padding-left: var(--snb-min-size);
}

.logo {
  width: var(--logo-size);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: block;
}

.logo img {
  width: 100%;
}

.logo img.symbol {
  display: none;
}

.button.box {
  background-color: var(--box-color);
  padding: .6rem;
  border-radius: 4px;
}

.button.box:hover .icon {
  -webkit-filter: var(--filter-primary-color);
          filter: var(--filter-primary-color);
}

.button.hv-bg {
  -webkit-transition: background-color var(--speed);
  transition: background-color var(--speed);
}

.button.hv-bg:hover {
  background-color: var(--background-color);
}

.button.box-shadow {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: -webkit-box-shadow var(--speed);
  transition: -webkit-box-shadow var(--speed);
  transition: box-shadow var(--speed);
  transition: box-shadow var(--speed), -webkit-box-shadow var(--speed);
}

.button.box-shadow:hover {
  -webkit-box-shadow: var(--box-shadow-hover);
          box-shadow: var(--box-shadow-hover);
}

.button.icon-button {
  width: var(--icon-size);
  height: var(--icon-size);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button.icon-button.i--arrow-down {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%2398A7C5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m7 10 5 5 5-5'/%3E%3C/svg%3E");
}

.button.icon-button.i--arrow-down:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%234473FC' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m7 10 5 5 5-5'/%3E%3C/svg%3E");
}

.button .icon {
  width: var(--icon-size);
}

.flex-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-group.gap-2 {
  gap: .2rem;
}

.flex-group.gap-4 {
  gap: .4rem;
}

.flex-group.gap-6 {
  gap: .6rem;
}

.flex-group.gap-8 {
  gap: .8rem;
}

.flex-group.gap-10 {
  gap: 1rem;
}

.dropdown-button {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown.active .dropdown-button.i--arrow-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown .dropdown-button.active ~ .dropdown-content {
  display: block;
}

.dropdown .dropdown-content {
  width: 24rem;
  position: absolute;
  background-color: var(--box-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 4px;
  z-index: 10;
  font-size: 1.5rem;
  -webkit-transform: translateY(0.8rem);
          transform: translateY(0.8rem);
  display: none;
}

.dropdown .dropdown-content .dropdown-content-head {
  width: 100%;
  position: relative;
  padding: var(--common-col-gap);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.2rem;
  border-bottom: 1px solid var(--border-light-color);
}

.dropdown .dropdown-content .dropdown-content-head .title-group .title {
  font-size: 1.5rem;
  font-weight: 500;
}

.dropdown .dropdown-content .dropdown-content-head .title-group .title-icon {
  font-size: 2.2rem;
}

.dropdown .dropdown-content .dropdown-content-head .button .icon {
  width: 2.2rem;
}

.dropdown .dropdown-content .dropdown-inner-button-group {
  width: 100%;
  position: relative;
  padding: var(--common-col-gap);
}

.dropdown .dropdown-content .dropdown-inner-button-group ul {
  width: 100%;
  position: relative;
}

.dropdown .dropdown-content .dropdown-inner-button-group ul li {
  width: 100%;
  position: relative;
}

.dropdown .dropdown-content .dropdown-inner-button-group ul li a {
  width: 100%;
  position: relative;
  height: 4.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--common-col-gap);
  padding: 0 var(--common-col-gap);
  -webkit-transition: color var(--speed), background-color var(--speed);
  transition: color var(--speed), background-color var(--speed);
  border-radius: 4px;
}

.dropdown .dropdown-content .dropdown-inner-button-group ul li a:hover {
  color: var(--primary-color);
  background-color: var(--background-color);
}

.dropdown .dropdown-content .dropdown-inner-button-group ul li a:hover img {
  -webkit-filter: var(--filter-primary-color);
          filter: var(--filter-primary-color);
}

.dropdown .dropdown-content .dropdown-inner-button-group ul li a img {
  width: 2.2rem;
}

.dropdown[data-dropdown-position-x="left"] .dropdown-content {
  left: 0;
}

.dropdown[data-dropdown-position-x="right"] .dropdown-content {
  right: 0;
}

.dropdown[data-dropdown-size="200"] .dropdown-content {
  width: 20rem;
}

.dropdown[data-dropdown-size="300"] .dropdown-content {
  width: 30rem;
}

.dropdown[data-dropdown-size="400"] .dropdown-content {
  width: 40rem;
}

.parent {
  width: 100%;
  position: relative;
}

.common-gap-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--common-gap);
}

.common-col-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--common-col-gap);
}

.card {
  position: relative;
  background-color: var(--box-color);
  border-radius: 4px;
  padding: var(--common-gap);
}

.card.col-1 {
  width: 100%;
}

.card.col-2 {
  width: calc(50% - var(--common-gap) / 2);
}

.card.col-3 {
  width: calc((100% / 3) - (var(--common-gap) * 2 / 3));
}

.card.col-4 {
  width: calc((100% / 4) - (var(--common-gap) * 3 / 4));
}

.card.col-5 {
  width: calc((100% / 5) - (var(--common-gap) * 4 / 5));
}

.parent {
  width: 100%;
  position: relative;
}

.user-profile-img {
  width: 3.2rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.user-profile-img::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.user-profile-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.tooltip {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  font-size: 1.3rem;
  white-space: nowrap;
  color: var(--tooltip-text-color);
  background-color: var(--tooltip-background-color);
  margin-top: 1rem;
  padding: .8rem 1.2rem;
  border-radius: 4px;
  opacity: 1;
  z-index: 1000;
}

.tooltip::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: var(--tooltip-background-color);
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
  z-index: -1;
}

.im-group {
  width: 100%;
  position: relative;
}

.im-group > ul {
  width: 100%;
  position: relative;
}

.im-group > ul > li {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.2rem;
  padding: 1.2rem;
  border-top: 1px solid var(--border-light-color);
}

.im-group > ul > li:first-child {
  border-top: none;
}

.im-group > ul > li > div {
  position: relative;
}

.im-group > ul > li .msg {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: .2rem;
}

.svg {
  width: 2.4rem;
}

.svg.filter-error {
  -webkit-filter: var(--filter-error-color);
          filter: var(--filter-error-color);
}

.svg.filter-warning {
  -webkit-filter: var(--filter-warning-color);
          filter: var(--filter-warning-color);
}

.svg.filter-info {
  -webkit-filter: var(--filter-info-color);
          filter: var(--filter-info-color);
}

.svg.filter-success {
  -webkit-filter: var(--filter-success-color);
          filter: var(--filter-success-color);
}

.fs-10 {
  font-size: 1rem;
}

.fs-11 {
  font-size: 1.1rem;
}

.fs-12 {
  font-size: 1.2rem;
}

.fs-13 {
  font-size: 1.3rem;
}

.fs-14 {
  font-size: 1.4rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-17 {
  font-size: 1.7rem;
}

.fs-18 {
  font-size: 1.8rem;
}

.fs-19 {
  font-size: 1.9rem;
}

.fs-20 {
  font-size: 2rem;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.mt-1 {
  margin-top: .1rem;
}

.mt-2 {
  margin-top: .2rem;
}

.mt-3 {
  margin-top: .3rem;
}

.mt-4 {
  margin-top: .4rem;
}

.mt-5 {
  margin-top: .5rem;
}

.mt-6 {
  margin-top: .6rem;
}

.mt-7 {
  margin-top: .7rem;
}

.mt-8 {
  margin-top: .8rem;
}

.mt-9 {
  margin-top: .9rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mt-11 {
  margin-top: 1.1rem;
}

.mt-12 {
  margin-top: 1.2rem;
}

.mt-13 {
  margin-top: 1.3rem;
}

.mt-14 {
  margin-top: 1.4rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mt-16 {
  margin-top: 1.6rem;
}

.mt-17 {
  margin-top: 1.7rem;
}

.mt-18 {
  margin-top: 1.8rem;
}

.mt-19 {
  margin-top: 1.9rem;
}

.mt-20 {
  margin-top: 2rem;
}

/* header */
header {
  width: 100%;
  height: var(--header-size);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding-left: var(--snb-size);
  background-color: var(--box-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

header .header-wrap {
  width: 100%;
  position: relative;
  height: 100%;
  padding: var(--common-gap);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--common-col-gap);
}

/* header end */
/* snb */
.snb {
  width: var(--snb-size);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--box-color);
  -webkit-box-shadow: 2px 0 10px var(--box-shadow-color);
          box-shadow: 2px 0 10px var(--box-shadow-color);
}

.snb .head {
  width: 100%;
  position: relative;
  height: 17.2rem;
  padding: var(--common-gap) 2rem;
}

.snb .head .user-card {
  width: 100%;
  position: relative;
  height: 6.4rem;
  background-color: var(--background-color);
  border-radius: 4px;
  padding: 0 var(--common-col-gap);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--common-col-gap);
  margin-top: var(--common-gap);
}

.snb .head .user-card .user-profile-img {
  width: 4rem;
}

.snb .head .user-card .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--common-col-gap);
}

.snb .head .user-card .info > div {
  position: relative;
}

.snb .head .user-card .info > div .name {
  font-size: 1.5rem;
  font-weight: 700;
}

.snb .head .user-card .info > div .rank {
  font-size: 1.3rem;
  color: var(--text-light-color);
  margin-top: .2rem;
  opacity: .75;
}

.snb .head .user-card .info .dropdown {
  position: relative;
}

.snb .body {
  width: 100%;
  position: relative;
  height: calc(100% - 17.2rem);
  padding: 0 2rem;
}

.snb .body .snb-list {
  width: 100%;
  position: relative;
  max-height: calc(100% - var(--common-gap));
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  color: var(--text-light-color);
  white-space: nowrap;
}

.snb .body .snb-list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.snb .body .snb-list::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: var(--sb-track);
}

.snb .body .snb-list::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: var(--sb-thumb);
}

.snb .body .snb-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--sb-thumb-hover);
}

.snb .body .snb-list::-webkit-scrollbar-thumb:active {
  background-color: var(--sb-thumb-active);
}

.snb .body .snb-list::-webkit-scrollbar-button {
  display: none;
}

.snb .body .snb-list a {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--common-col-gap);
}

.snb .body .snb-list a::after {
  content: "";
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%2398A7C5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m7 10 5 5 5-5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 0 0 auto;
}

.snb .body .snb-list a:hover, .snb .body .snb-list a.active {
  color: var(--primary-color);
}

.snb .body .snb-list a:hover::after, .snb .body .snb-list a.active::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%234473FC' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m7 10 5 5 5-5'/%3E%3C/svg%3E");
}

.snb .body .snb-list a:hover img, .snb .body .snb-list a.active img {
  -webkit-filter: var(--filter-primary-color);
          filter: var(--filter-primary-color);
}

.snb .body .snb-list a.active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.snb .body .snb-list a.current {
  font-weight: 500;
  color: var(--primary-color);
}

.snb .body .snb-list a.current img {
  -webkit-filter: var(--filter-primary-color);
          filter: var(--filter-primary-color);
}

.snb .body .snb-list a:only-child::after {
  display: none;
}

.snb .body .snb-list > li {
  width: 100%;
  position: relative;
  font-size: 1.5rem;
  margin-top: .4rem;
}

.snb .body .snb-list > li:first-child {
  margin-top: 0;
}

.snb .body .snb-list > li > a {
  height: 4.4rem;
  border-radius: 4px;
  padding: 0 var(--common-col-gap);
  -webkit-transition: background-color var(--speed);
  transition: background-color var(--speed);
}

.snb .body .snb-list > li > a:hover {
  background-color: #f4f6fa;
}

.snb .body .snb-list > li > a > img {
  width: 2.2rem;
}

.snb .body .snb-list > li > a.current {
  background-color: var(--background-color);
}

.snb .body .snb-list > li ul {
  display: none;
}

.snb .body .snb-list > li ul.active {
  display: block;
}

.snb .body .snb-list > li > ul {
  width: 100%;
  position: relative;
  padding-left: calc(2.2rem + var(--common-col-gap) * 2);
  padding-right: var(--common-col-gap);
}

.snb .body .snb-list > li > ul a {
  height: 3.6rem;
  margin-top: .2rem;
}

.snb .body .snb-list > li > ul a::before {
  content: "";
  display: block;
  width: .8rem;
  height: .8rem;
  border: 1px solid var(--border-color);
  border-radius: 50%;
}

.snb .body .snb-list > li > ul a:hover {
  color: var(--primary-color);
}

.snb .body .snb-list > li > ul a.active::before, .snb .body .snb-list > li > ul a.current::before {
  border-color: var(--primary-color);
}

.snb .body .snb-list > li > ul a.current {
  color: var(--primary-color);
}

.snb .body .snb-list > li > ul > li {
  width: 100%;
  position: relative;
  font-size: 1.4rem;
}

.snb .body .snb-list > li > ul > li > ul {
  width: 100%;
  position: relative;
  padding-left: 1.6rem;
}

.snb .body .snb-list > li > ul > li > ul > li > a {
  margin-top: .2rem;
}

/* snb end */
/* main */
main {
  width: 100%;
  position: relative;
  padding-top: var(--header-size);
  padding-left: var(--snb-size);
}

main .main-wrap {
  width: 100%;
  position: relative;
  padding: var(--common-gap);
}

main .main-wrap .main-head {
  width: 100%;
  position: relative;
}

main .main-wrap .main-head .title-group h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

main .main-wrap .main-head .title-group h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

main .main-wrap .main-head .title-group h4 {
  font-size: 2rem;
  font-weight: 500;
}

main .main-wrap .main-head .title-group h5 {
  font-size: 1.8rem;
  font-weight: 400;
}

main .main-wrap .main-head .title-group h6 {
  font-size: 1.6rem;
  font-weight: 300;
}

main .main-wrap .main-head .title-group p {
  font-size: 1.5rem;
  color: var(--text-light-color);
}

main .main-wrap .main-head .title-group p ~ h2 {
  margin-top: .2rem;
}

main .main-wrap .main-body {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--common-gap);
  margin-top: var(--common-gap);
}

/* main end */
@media (max-width: 767px) {
  :root {
    font-size: 50%;
  }
}
