* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

ol::after,
ul::after {
  content: '';
  display: block;
  clear: both;
}

button {
  all: unset;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img,
svg,
picture,
video,
canvas,
iframe,
textarea {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: none;
  outline: none;
  border-radius: 0;
}

input::-ms-clear {
  display: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border-radius: 0;
}

select::-ms-expand {
  display: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}
