:root {

    font-size: 62.5%;
    
    --font: 'Pretendard', sans-serif;

    --sb-track: #ddd;
    --sb-thumb: #aaa;
    --sb-thumb-hover: #777;
    --sb-thumb-active: #666;

}

html {
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: 400;
    color: var(--text-color);
    scroll-behavior: smooth;

    &.no-touch {
        pointer-events: none;
    }

    &.overflow-hidden {
        overflow: hidden;
    }

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    height: 100%;
}

.swiper-slide {
    height: 100%;
    text-align: center;
    font-size: 1.8rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}