:root {

    font-size: 62.5%;
    
    --font: 'Pretendard', sans-serif;

    --primary-color:#4473FC;
    --primary-contrast-text-color: #fff;

    --background-color: #F1F6FD;
    --box-color: #fff;

    --text-color: #1F3561;
    --text-light-color: #565F71;

    --border-color: #ddd;
    --border-light-color: #eee;

    --error-color: #C14351;
    --warning-color: #8F9051;
    --info-color: #5875A3;
    --success-color: #5D8C54;
    
    // --label-color: #8f8f8f;
    
    // --button-background-color: #f6f6f6;
    // --button-background-gray: #f1f1f1;
    // --button-hover-background-color: #f1f2f3;
    // --button-pressed-background-color: #edeef1;
    // --button-active-background-color: #f1f5fd;
    // --button-hover-text-color: #3c3c3c;

    // --primary-button-hover-background-color: #2b7ffd;
    // --primary-button-pressed-background-color: #0f6efd;

    // --primary-line-button-hover-background-color: #f1f5fd;
    // --primary-line-button-pressed-background-color: #e7efff;

    // --checkbox-background-color: #fbfbfc;

    // --red: #FE2323;
    // --blue: #0041FF;
    // --green: #03BC54;
    
    // --background-red: #FFF0F0;
    // --background-blue: #F3F6FF;
    // --background-green: #F0FFF7;
    // --background-gray: #F8F9FA;

    // --line-red: #FFC6C6;
    // --line-blue: #C9D7FF;
    // --line-green: #B6FFD6;

    --tooltip-text-color: #fff;
    --tooltip-background-color: #4473FC;

    --speed: .2s;

    --logo-size: 16.5rem;
    --symbol-size: 2.4rem;

    --snb-size: 28rem;
    --snb-min-size: 6rem;

    --header-size: 7.2rem;

    --icon-size: 2.4rem;

    --common-gap: 2.4rem;
    --common-space: 2rem;
    --common-col-gap: .8rem;

    --box-shadow-color: #4473FC15;
    --box-shadow-hover-color: #4473FC30;
    --box-shadow: 0 0 10px var(--box-shadow-color);
    --box-shadow-hover: 0 0 10px var(--box-shadow-hover-color);

    --filter-primary-color: invert(54%) sepia(84%) saturate(5197%) hue-rotate(214deg) brightness(101%) contrast(106%);

    --filter-error-color: invert(48%) sepia(100%) saturate(3855%) hue-rotate(339deg) brightness(95%) contrast(91%);
    --filter-warning-color: invert(72%) sepia(75%) saturate(486%) hue-rotate(1deg) brightness(92%) contrast(107%);
    --filter-info-color: invert(39%) sepia(90%) saturate(740%) hue-rotate(198deg) brightness(101%) contrast(102%);
    --filter-success-color: invert(63%) sepia(85%) saturate(394%) hue-rotate(91deg) brightness(89%) contrast(88%);

    --sb-track: #ddd;
    --sb-thumb: #aaa;
    --sb-thumb-hover: #777;
    --sb-thumb-active: #666;

}

/* 다크모드 */
:root.dark-mode {

}

/*
https://jakearchibald.github.io/svgomg
https://yoksel.github.io/url-encoder
https://codepen.io/sosuke/pen/Pjoqqp
*/

$iconColor: 98A7C5;
$iconActiveColor: 4473FC;

@function icon($iconName, $iconColor: $iconColor) {
    $iconList: (
        arrow-down: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%23#{$iconColor}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m7 10 5 5 5-5'/%3E%3C/svg%3E",
        arrow-up: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%23#{$iconColor}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m17 14-5-5-5 5'/%3E%3C/svg%3E",
    );
    $icon: map-get($iconList, $iconName);
    @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}

@mixin parent {
    width: 100%;
    position: relative;
}

@mixin ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

@mixin scrollbar {
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar { // 스크롤 바
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track { // 스크롤 바 밑의 배경
        border-radius: 12px;
        // background-color: #ddd;
        background-color: var(--sb-track);
    }
    &::-webkit-scrollbar-thumb { // 실질적 스크롤 바
        border-radius: 12px;
        // background: #aaa;
        background-color: var(--sb-thumb);
    }
    &::-webkit-scrollbar-thumb:hover { // 실질적 스크롤 바 위에 마우스를 올려다 둘 때
        // background: #666;
        background-color: var(--sb-thumb-hover);
    }
    &::-webkit-scrollbar-thumb:active { // 실질적 스크롤 바를 클릭할 때
        // background: #666;
        background-color: var(--sb-thumb-active);
    }
    &::-webkit-scrollbar-button { // 스크롤 바 상 하단 버튼
        display: none;
    }
}

.scrollbar {
    @include scrollbar();
}

html {
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: 400;
    color: var(--text-color);
    scroll-behavior: smooth;

    &.no-touch {
        pointer-events: none;
    }

    &.overflow-hidden {
        overflow: hidden;
    }

}

body {
    background-color: var(--background-color);

    /* snb-min-mode */
    &.snb-min-mode {
        header {
            padding-left: var(--snb-min-size);
        }

        .snb {
            width: var(--snb-min-size);

            .head {
                padding-left: 0;
                padding-right: 0;
                height: 13.2rem;
                padding-bottom: .8rem;

                .logo {
                    width: var(--symbol-size);
                    margin: 0 auto;

                    img {
                        display: none;

                        &.symbol {
                            display: block;
                        }
                    }
                }

                .user-card {
                    width: 4.4rem;
                    height: 4.4rem;
                    background-color: var(--box-color);
                    margin: 2.4rem auto 0;
                    justify-content: center;
                    gap: 0;
                    cursor: pointer;

                    .user-profile-img {
                        width: 3.6rem;
                    }

                    .info {
                        // display: none;

                        > div {
                            display: none;

                            &.dropdown {
                                width: 0;
                                display: block;

                                .dropdown-button {
                                    display: none;
                                }
                            }
                        }
                    }

                    .dropdown {
                        .dropdown-content {
                            left: 2.8rem;
                            top: -2.4rem;
                        }
                    }
                }
            }

            .body {
                padding: 0;
                height: calc(100% - 12.8rem);

                .snb-list {
                    li {
                        a {
                            span {
                                display: none;
                            }
                        }
                    }

                    > li {

                        &:hover {
                            > ul {
                                // background-color: #000;
                            }
                        }

                        > a {
                            width: 4.4rem;
                            justify-content: center;
                            margin: 0 auto;
                            z-index: 10;

                            &::after {
                                display: none;
                            }

                            &:hover {
                                & ~ ul {
                                    // display: block!important;
                                    opacity: 1;
                                    pointer-events: auto;
                                }
                            }
                        }

                        > ul {
                            width: fit-content;
                            min-width: 24rem;
                            position: fixed;
                            top: auto;
                            left: 6rem;
                            transform: translateY(-4.4rem);
                            margin-left: 1.2rem;
                            background-color: var(--box-color);
                            padding: var(--common-col-gap) var(--common-gap);
                            border-radius: 4px;
                            box-shadow: var(--box-shadow);
                            // display: none!important;
                            display: block!important;
                            opacity: 0;
                            pointer-events: none;
                            transition: opacity var(--speed);

                            &:hover {
                                // display: block!important;
                                opacity: 1;
                                pointer-events: auto;
                            }

                            &::before {
                                content: "";
                                display: block;
                                width: 7.2rem;
                                height: 4.4rem;
                                position: absolute;
                                top: 0;
                                left: -7.2rem;
                                z-index: 10;
                                // background-color: #000;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }

        main {
            padding-left: var(--snb-min-size);
        }
    }
    /* snb-min-mode end */

}

.logo {
    width: var(--logo-size);
    width: fit-content;
    position: relative;
    display: block;

    img {
        width: 100%;

        &.symbol {
            display: none;
        }
    }
}

.button {

    &.box {
        background-color: var(--box-color);
        padding: .6rem;
        border-radius: 4px;

        &:hover {
            .icon {
                filter: var(--filter-primary-color);
            }
        }
    }

    &.hv-bg {
        transition: background-color var(--speed);

        &:hover {
            background-color: var(--background-color);
        }
    }

    &.box-shadow {
        box-shadow: var(--box-shadow);
        transition: box-shadow var(--speed);

        &:hover {
            box-shadow: var(--box-shadow-hover);
        }
    }

    &.icon-button {
        width: var(--icon-size);
        height: var(--icon-size);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        &.i--arrow-down {
            background-image: icon(arrow-down);

            &:hover {
                background-image: icon(arrow-down, $iconActiveColor);
            }
        }
    }

    .icon {
        width: var(--icon-size);
    }
}

.flex-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.gap-2 {gap: .2rem};
    &.gap-4 {gap: .4rem};
    &.gap-6 {gap: .6rem};
    &.gap-8 {gap: .8rem};
    &.gap-10 {gap: 1rem};
}

.dropdown-button {
    cursor: pointer;
}

.dropdown {
    position: relative;

    &.active {
        .dropdown-button {
            &.i--arrow-down {
                transform: rotate(180deg);
            }
        }

        .dropdown-content {
            display: block;
        }
    }

    .dropdown-button {
        &.active {
            & ~ .dropdown-content {
                display: block;
            }
        }
    }

    .dropdown-content {
        width: 24rem;
        position: absolute;
        background-color: var(--box-color);
        box-shadow: var(--box-shadow);
        border-radius: 4px;
        // padding: var(--common-col-gap);
        z-index: 10;
        font-size: 1.5rem;
        transform: translateY(.8rem);
        display: none;

        .dropdown-content-head {
            @include parent();
            padding: var(--common-col-gap);
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1.2rem;
            border-bottom: 1px solid var(--border-light-color);

            .button {
                .icon {
                    width: 2.2rem;
                }
            }
        }

        .dropdown-inner-button-group {
            @include parent();
            padding: var(--common-col-gap);

            ul {
                @include parent();

                li {
                    @include parent();

                    a {
                        @include parent();
                        height: 4.4rem;
                        display: flex;
                        align-items: center;
                        gap: var(--common-col-gap);
                        padding: 0 var(--common-col-gap);
                        transition: color var(--speed), background-color var(--speed);
                        border-radius: 4px;

                        &:hover {
                            color: var(--primary-color);
                            background-color: var(--background-color);

                            img {
                                filter: var(--filter-primary-color);
                            }
                        }

                        img {
                            width: 2.2rem;
                        }
                    }
                }
            }
        }
    }

    // position
    &[data-dropdown-position-x="left"] {
        .dropdown-content {
            left: 0;
        }
    }

    &[data-dropdown-position-x="right"] {
        .dropdown-content {
            right: 0;
        }
    }

    // size
    &[data-dropdown-size="200"] {
        .dropdown-content {
            width: 20rem;
        }
    }

    &[data-dropdown-size="300"] {
        .dropdown-content {
            width: 30rem;
        }
    }

    &[data-dropdown-size="400"] {
        .dropdown-content {
            width: 40rem;
        }
    }
}

.parent {
    @include parent();
}

.common-gap-group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--common-gap);
}

.common-col-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--common-col-gap);
}

.card {
    position: relative;
    background-color: var(--box-color);
    border-radius: 4px;
    padding: var(--common-gap);

    &.col-1 {
        width: 100%;
    }

    &.col-2 {
        width: calc(50% - var(--common-gap) / 2);
    }

    &.col-3 {
        width: calc((100% / 3) - (var(--common-gap) * 2 / 3));
    }

    &.col-4 {
        width: calc((100% / 4) - (var(--common-gap) * 3 / 4));
    }
    
    &.col-5 {
        width: calc((100% / 5) - (var(--common-gap) * 4 / 5));
    }
}

.parent {
    @include parent();
}

.user-profile-img {
    width: 3.2rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    
    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
}

.tooltip {
    width: fit-content;
    position: absolute;
    font-size: 1.3rem;
    white-space: nowrap;
    color: var(--tooltip-text-color);
    background-color: var(--tooltip-background-color);
    margin-top: 1rem;
    padding: .8rem 1.2rem;
    border-radius: 4px;
    opacity: 1;
    z-index: 1000;

    &::after {
        content: "";
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        background-color: var(--tooltip-background-color);
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: rotate(45deg) translateX(-50%);
        z-index: -1;
    }
}

.im-group {
    @include parent();

    > ul {
        @include parent();

        > li {
            @include parent();
            display: flex;
            align-items: flex-start;
            gap: 1.2rem;
            padding: 1.2rem;
            border-top: 1px solid var(--border-light-color);

            &:first-child {
                border-top: none;
            }

            > div {
                position: relative;
            }

            .icon {
                .svg {
                    
                }
            }

            .msg {
                flex-grow: 1;
                padding-top: .2rem;
            }
        }
    }
}

.svg {
    width: 2.4rem;

    &.filter-error {filter: var(--filter-error-color);}
    &.filter-warning {filter: var(--filter-warning-color);}
    &.filter-info {filter: var(--filter-info-color);}
    &.filter-success {filter: var(--filter-success-color);}
}

.fs-10 {font-size: 1rem;}
.fs-11 {font-size: 1.1rem;}
.fs-12 {font-size: 1.2rem;}
.fs-13 {font-size: 1.3rem;}
.fs-14 {font-size: 1.4rem;}
.fs-15 {font-size: 1.5rem;}
.fs-16 {font-size: 1.6rem;}
.fs-17 {font-size: 1.7rem;}
.fs-18 {font-size: 1.8rem;}
.fs-19 {font-size: 1.9rem;}
.fs-20 {font-size: 2rem;}

.fw-100 {font-weight: 100;}
.fw-200 {font-weight: 200;}
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.fw-800 {font-weight: 800;}
.fw-900 {font-weight: 900;}

.mt-1 {margin-top: .1rem;}
.mt-2 {margin-top: .2rem;}
.mt-3 {margin-top: .3rem;}
.mt-4 {margin-top: .4rem;}
.mt-5 {margin-top: .5rem;}
.mt-6 {margin-top: .6rem;}
.mt-7 {margin-top: .7rem;}
.mt-8 {margin-top: .8rem;}
.mt-9 {margin-top: .9rem;}
.mt-10 {margin-top: 1rem;}
.mt-11 {margin-top: 1.1rem;}
.mt-12 {margin-top: 1.2rem;}
.mt-13 {margin-top: 1.3rem;}
.mt-14 {margin-top: 1.4rem;}
.mt-15 {margin-top: 1.5rem;}
.mt-16 {margin-top: 1.6rem;}
.mt-17 {margin-top: 1.7rem;}
.mt-18 {margin-top: 1.8rem;}
.mt-19 {margin-top: 1.9rem;}
.mt-20 {margin-top: 2rem;}

.sidebar {
    width: 36rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -36rem;
    z-index: 100;
    background-color: var(--box-color);
    box-shadow: -2px 0 10px var(--box-shadow-color);
    opacity: 0;
    pointer-events: none;
    transition: right var(--speed), opacity var(--speed);

    &.active {
        right: 0;
        opacity: 1;
        pointer-events: auto;
    }

    .sidebar-layer {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #00000030;
        z-index: -1;
    }

    .sidebar-head {
        @include parent();
        height: var(--header-size);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 var(--common-col-gap);
        padding: 0 var(--common-space);
        border-bottom: 1px solid var(--border-light-color);
        background-color: var(--box-color);
    }

    .sidebar-body {
        @include parent();
        height: calc(100% - var(--header-size));
        overflow-y: auto;
        @include scrollbar();
        padding: var(--common-space);
        background-color: var(--box-color);
    }
}

.title-group {
    h2 {
        font-size: 2.4rem;
        font-weight: 700;
    }

    h3 {
        font-size: 2.2rem;
        font-weight: 600;
    }

    h4 {
        font-size: 2rem;
        font-weight: 500;
    }

    h5 {
        font-size: 1.8rem;
        font-weight: 400;
    }

    h6 {
        font-size: 1.6rem;
        font-weight: 300;
    }

    p {
        font-size: 1.5rem;
        color: var(--text-light-color);

        & ~ h2 {
            margin-top: .2rem;
        }
    }

    * {
        &.title {
            font-weight: 500;
            color: var(--text-color);
        }
    }

    .title-icon {
        font-size: 2.2rem;
    }
}

/* header */
header {
    width: 100%;
    height: var(--header-size);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding-left: var(--snb-size);
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);

    .header-wrap {
        @include parent();
        height: 100%;
        padding: var(--common-gap);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--common-col-gap);
    }
    
}
/* header end */

/* snb */
.snb {
    width: var(--snb-size);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--box-color);
    box-shadow: 2px 0 10px var(--box-shadow-color);

    .head {
        @include parent();
        height: 17.2rem;
        padding: var(--common-gap) 2rem;

        .user-card {
            @include parent();
            height: 6.4rem;
            background-color: var(--background-color);
            border-radius: 4px;
            padding: 0 var(--common-col-gap);
            display: flex;
            align-items: center;
            gap: var(--common-col-gap);
            margin-top: var(--common-gap);

            .user-profile-img {
                width: 4rem;
            }

            .info {
                flex-grow: 1;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: var(--common-col-gap);

                > div {
                    position: relative;

                    .name {
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
        
                    .rank {
                        font-size: 1.3rem;
                        color: var(--text-light-color);
                        margin-top: .2rem;
                        opacity: .75;
                    }
                }

                .dropdown {
                    position: relative;
                }
            }
        }
    }

    .body {
        @include parent();
        height: calc(100% - 17.2rem);
        padding: 0 2rem;

        .snb-list { // ul 1
            @include parent();
            max-height: calc(100% - var(--common-gap));
            overflow-x: hidden;
            overflow-y: auto;
            @include scrollbar();
            color: var(--text-light-color);
            white-space: nowrap;

            a {
                @include parent();
                display: flex;
                align-items: center;
                gap: var(--common-col-gap);

                &::after {
                    content: "";
                    display: block;
                    width: 1.8rem;
                    height: 1.8rem;
                    background-image: icon(arrow-down);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    margin: 0 0 0 auto;
                }

                &:hover,
                &.active {
                    color: var(--primary-color);

                    &::after {background-image: icon(arrow-down, $iconActiveColor);}

                    img {filter: var(--filter-primary-color);}
                }

                &:hover {
                    
                }

                &.active {
                    &::after {transform: rotate(180deg);}
                }

                &.current {
                    font-weight: 500;
                    color: var(--primary-color);
                    img {filter: var(--filter-primary-color);}
                }

                &:only-child {
                    &::after {
                        display: none;
                    }
                }
            }

            > li { // li 1
                @include parent();
                font-size: 1.5rem;
                margin-top: .4rem;

                &:first-child {
                    margin-top: 0;
                }

                > a {
                    height: 4.4rem;
                    border-radius: 4px;
                    padding: 0 var(--common-col-gap);
                    transition: background-color var(--speed);

                    &:hover {
                        background-color: #f4f6fa;
                    }

                    &.active {
                    }

                    > img {
                        width: 2.2rem;
                    }

                    &.current {
                        background-color: var(--background-color);
                    }
                }

                ul { // ul 2,3 common
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                > ul { // ul 2
                    @include parent();
                    padding-left: calc(2.2rem + var(--common-col-gap) * 2);
                    padding-right: var(--common-col-gap);

                    a {
                        height: 3.6rem;
                        margin-top: .2rem;

                        &::before {
                            content: "";
                            display: block;
                            width: .8rem;
                            height: .8rem;
                            border: 1px solid var(--border-color);
                            border-radius: 50%;
                        }

                        &:hover {
                            color: var(--primary-color);
                        }

                        &.active,
                        &.current {
                            &::before {
                                border-color: var(--primary-color);
                            }
                        }

                        &.current {
                            color: var(--primary-color);
                        }
                    }

                    > li { // li 2
                        @include parent();
                        font-size: 1.4rem;

                        > a {
                            
                        }

                        > ul { // ul 3
                            @include parent();
                            padding-left: 1.6rem;
                            
                            > li { // li 3

                                > a {
                                    margin-top: .2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* snb end */

/* main */
main {
    @include parent();
    padding-top: var(--header-size);
    padding-left: var(--snb-size);
    
    .main-wrap {
        @include parent();
        padding: var(--common-gap);

        .main-head {
            @include parent();
        }

        .main-body {
            @include parent();
            display: flex;
            flex-wrap: wrap;
            gap: var(--common-gap);
            margin-top: var(--common-gap);
        }
        
    }
}
/* main end */

@media(max-width: 767px) {
    :root {
        font-size: 50%;
    }
}